* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 20px;
}

.container1 {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  align-items: center;
  margin: 2em auto 6em;
}

.col1,
.col2 {
  flex: 1 1 0;
}

.heading {
  font-size: 3em;
  font-weight: bold;
  font-family: Verdana;
  text-align: right;
}

.para {
  font-size: 1em;
  font-family: sans-serif;
  font-weight: normal;
  text-align: right;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }
  .container1 {
    flex-direction: column;
    margin: auto;
  }
  .para,
  .heading {
    text-align: left;
  }
}
