body{
    overflow-x: hidden;
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  
  .btn1{
    width: 100%;
  }
 

  
}

.title{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    color: #C99F4A;
;
}
    
    .text{
        display: flex;
        justify-content: space-between;
        align-items: left;
        margin-top: 100px;

        

    
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    /* or 93% */
    
    
    color: #000000;
    }
    
    .form{
        margin-top: 40px;
    }
    
    .button{
        display: flex;
        align-items: center;
    }
    
    .countp{
        display: flex;
    
        justify-content: right;
    }
    .count{
        color: black;
    }
    
    .label{
        display: flex;
        align-items: flex-start;
    }
    
    .text{
        border-color: #000000;
    }
    
    .btn{
        display: flex;
        width: 20%;
        justify-content: center;
    }
    .btn2{
        width: 45%;
    }
    


    .container{

        position: absolute;
        margin-top: 4px;
        margin-left: 7%;
        margin-right: 7%;
    }

    .btn{

        display: flex;
        flex-direction: row;
    }

